-- Enable UUID generation
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- USERS TABLE (Optional if using Supabase Auth, but good for profiles)
CREATE TABLE public.user_profiles (
  id UUID REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
  company_name TEXT,
  role TEXT DEFAULT 'client', -- 'client' or 'admin'
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- PRODUCTS TABLE
CREATE TABLE public.products (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  sku TEXT NOT NULL,
  name TEXT NOT NULL,
  category TEXT NOT NULL,
  description TEXT,
  price NUMERIC(10, 2),
  currency TEXT DEFAULT 'EUR',
  ingredients JSONB DEFAULT '[]'::jsonb,
  certifications JSONB DEFAULT '[]'::jsonb,
  hs_code TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- ENABLE ROW LEVEL SECURITY
ALTER TABLE public.user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;

-- POLICIES FOR USER_PROFILES
CREATE POLICY "Users can view their own profile"
  ON public.user_profiles
  FOR SELECT
  USING (auth.uid() = id);

CREATE POLICY "Users can update their own profile"
  ON public.user_profiles
  FOR UPDATE
  USING (auth.uid() = id);

-- POLICIES FOR PRODUCTS
CREATE POLICY "Users can view their own products"
  ON public.products
  FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert their own products"
  ON public.products
  FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own products"
  ON public.products
  FOR UPDATE
  USING (auth.uid() = user_id)
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can delete their own products"
  ON public.products
  FOR DELETE
  USING (auth.uid() = user_id);

-- FUNCTION: auto update updated_at
CREATE OR REPLACE FUNCTION update_modified_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

CREATE TRIGGER update_products_modtime
BEFORE UPDATE ON public.products
FOR EACH ROW EXECUTE PROCEDURE update_modified_column();
-- 1. ORGANIZATIONS (Pour le multitenant)
CREATE TABLE IF NOT EXISTS public.organizations (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  name TEXT NOT NULL,
  country TEXT,
  industry TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. ORGANIZATION MEMBERS
CREATE TABLE IF NOT EXISTS public.organization_members (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  organization_id UUID REFERENCES public.organizations(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  role TEXT DEFAULT 'admin',
  created_at TIMESTAMPTZ DEFAULT NOW(),
  UNIQUE(organization_id, user_id)
);

-- 3. ENTITIES (Les entreprises/personnes vÃ©rifiÃ©es)
CREATE TABLE IF NOT EXISTS public.entities (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  organization_id UUID REFERENCES public.organizations(id) ON DELETE CASCADE,
  type TEXT NOT NULL, -- 'Company' ou 'Individual'
  legal_name TEXT NOT NULL,
  country TEXT NOT NULL,
  address TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 4. COMPLIANCE CHECKS (Le cÅ“ur du systÃ¨me)
CREATE TABLE IF NOT EXISTS public.compliance_checks (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  organization_id UUID REFERENCES public.organizations(id) ON DELETE CASCADE,
  created_by UUID REFERENCES auth.users(id),
  entity_id UUID REFERENCES public.entities(id) ON DELETE CASCADE,
  status TEXT DEFAULT 'COMPLETED', -- 'PENDING', 'COMPLETED'
  risk_score INTEGER,
  risk_level TEXT, -- 'LOW', 'MEDIUM', 'HIGH', 'CRITICAL'
  decision TEXT, -- 'APPROVED', 'REVIEW', 'REJECTED'
  transaction_value NUMERIC,
  currency TEXT DEFAULT 'USD',
  destination_country TEXT,
  product_name TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 5. EVIDENCE (Les preuves des rÃ©sultats)
CREATE TABLE IF NOT EXISTS public.evidence (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  check_id UUID REFERENCES public.compliance_checks(id) ON DELETE CASCADE,
  source_name TEXT,
  result TEXT,
  details TEXT,
  captured_at TIMESTAMPTZ DEFAULT NOW()
);

-- 6. AUDIT LOGS
CREATE TABLE IF NOT EXISTS public.audit_logs (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  organization_id UUID REFERENCES public.organizations(id) ON DELETE CASCADE,
  user_id UUID REFERENCES auth.users(id),
  action TEXT NOT NULL,
  resource_type TEXT NOT NULL,
  resource_id UUID,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- RLS POLICIES (Ã€ complÃ©ter selon la logique organization_id)
ALTER TABLE public.organizations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.organization_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.entities ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.compliance_checks ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.evidence ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

-- Les politiques de base pour qu'un utilisateur accÃ¨de aux donnÃ©es de son organisation
-- (SimplifiÃ© pour le MVP : l'utilisateur peut voir toutes les orgs dont il est membre)
CREATE POLICY "Users can view their orgs" ON public.organizations FOR SELECT USING (id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()));
CREATE POLICY "Users can view org members" ON public.organization_members FOR SELECT USING (user_id = auth.uid());

CREATE POLICY "Users view entities in their org" ON public.entities FOR ALL USING (organization_id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()));
CREATE POLICY "Users view checks in their org" ON public.compliance_checks FOR ALL USING (organization_id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()));
CREATE POLICY "Users view evidence for their checks" ON public.evidence FOR ALL USING (check_id IN (SELECT id FROM public.compliance_checks WHERE organization_id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid())));
CREATE POLICY "Users view audit logs in their org" ON public.audit_logs FOR ALL USING (organization_id IN (SELECT organization_id FROM public.organization_members WHERE user_id = auth.uid()));
-- 1. MARKETS (Update existing table)

-- 2. REGULATORY ALERTS
CREATE TABLE IF NOT EXISTS public.regulatory_alerts (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  title TEXT NOT NULL,
  description TEXT NOT NULL,
  country_code TEXT NOT NULL,
  country_flag TEXT NOT NULL,
  severity TEXT NOT NULL, -- 'high', 'medium', 'info'
  category TEXT NOT NULL,
  affected_products_count INTEGER DEFAULT 0,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.regulatory_alerts ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Everyone can view alerts" ON public.regulatory_alerts FOR SELECT USING (true);


-- 3. COMPLIANCE DOCUMENTS
CREATE TABLE IF NOT EXISTS public.compliance_documents (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  organization_id UUID REFERENCES public.organizations(id) ON DELETE CASCADE NOT NULL,
  product_id UUID REFERENCES public.products(id) ON DELETE CASCADE,
  document_type TEXT NOT NULL,
  title TEXT NOT NULL,
  country_code TEXT,
  status TEXT DEFAULT 'Ready',
  content_markdown TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  updated_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE public.compliance_documents ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Users view own org documents" ON public.compliance_documents FOR SELECT USING (is_org_member(organization_id));
CREATE POLICY "Users create own org documents" ON public.compliance_documents FOR INSERT WITH CHECK (is_org_member(organization_id));
CREATE POLICY "Users update own org documents" ON public.compliance_documents FOR UPDATE USING (is_org_member(organization_id));
CREATE POLICY "Users delete own org documents" ON public.compliance_documents FOR DELETE USING (is_org_member(organization_id));
-- Script to automatically create an organization and organization_member for new users
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
DECLARE
  new_org_id UUID;
  company_name_val TEXT;
BEGIN
  -- Obtenir le nom de l'entreprise depuis les raw_user_meta_data s'il existe
  company_name_val := COALESCE(NEW.raw_user_meta_data->>'company_name', 'Mon Organisation');

  -- 1. CrÃ©er la nouvelle organisation
  INSERT INTO public.organizations (name, subscription_plan)
  VALUES (company_name_val, 'Free')
  RETURNING id INTO new_org_id;

  -- 2. Ajouter l'utilisateur en tant que membre admin de cette organisation
  INSERT INTO public.organization_members (organization_id, user_id, role)
  VALUES (new_org_id, NEW.id, 'admin');

  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Supprimer le trigger s'il existe dÃ©jÃ 
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;

-- CrÃ©er le trigger sur auth.users
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();

-- Ajouter une policy INSERT pour organization_members si nÃ©cessaire
CREATE POLICY "Users can insert themselves" ON public.organization_members FOR INSERT WITH CHECK (user_id = auth.uid());
